@import-normalize;

:root {
  box-sizing: border-box;
  --light-grey: hsl(0, 0%, 95%);
  --medium-grey: hsl(0, 0%, 80%);
  --body-background-color: var(--medium-grey);
  --card-background-color: var(--light-grey);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

.center {
  margin: 0 auto;
}

[hidden] {
  display: none !important;
}

body {
  background-color: var(--body-background-color);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.post-list > * + * {
  margin-top: 1.5em;
}

.card {
  background-color: var(--card-background-color);
}
